<div>
  <form [formGroup]="formGroup">
    <h2>Nombre de colección</h2>
    <input type="text" formControlName="collection" />
    <h2>Subir archivo de Excel</h2>
    <input type="file" formControlName="file" (change)="onFileChange($event)" />
    <button (click)="copyJson()">Copiar JSON</button>
    <button (click)="copySql()">Copiar SQL</button>
  </form>
</div>
